<!doctype html>

<html lang="en-US">
    <head>
        <meta charset='utf-8'>
        <title>Elo</title>
    </head>
    <body>
        <h1>Overview</h1>
        <div>
            {% if top_5_list %}
            <h2>Top 5:</h2>
                <ol>
                {% for player in top_5_list %}
                    <li>
                        <a href="{% url 'elo_app:player_detail' player.id %}"> {{ player.player_name }}</a>
                        -- {{ player.get_rating }}
                    </li>
                {% endfor %}
                </ol>
            {% else %}
                <p>No top 5 available!</p>
            {% endif %}
        </div>
        <div>
            <h2>Recent games</h2>
            <table border=1>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in recent_games %}
                    <tr>
                        <td>
                            {{ game.date_played }}
                        </td>
                        <td>{{ game.team_1_defense }}, {{ game.team_1_attack }}</td>
                        <td>{{ game.team_2_defense}}, {{ game.team_2_attack }}</td>
                        <td>{{ game.team_1_score }} - {{ game.team_2_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'elo_app:update_ratings' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Update ratings">
        </form>
       
        <br>
        <a href={% url 'elo_app:all' %}>All players</a>
        <br>
        <a href={% url 'elo_app:submit_form_game' %}>Submit a game</a>
        <br>
        <a href={% url 'registration:login' %}>Home</a>
    </body>
</html>