<!doctype html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Submit game form</title>
    </head>
    <body>
        <div>
            <form action="{% url 'elo_app:submit_game' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Submit a game</h1></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <div name="winners">
                        <strong>Winning team</strong><br>
                        <label for="winning_team_defense">Winning team defense: </label>
                        <select id="winning_team_defense" name="winning_team_defense" required>
                            <option disabled selected value> -- select a player -- </option>
                            {% for player in all_players_list %}
                                <option value={{ player.id }}>{{ player.player_name }}</option>
                            {% endfor %}
                        </select><br>
                        <label for="winning_team_attack">Winning team attack: </label>
                        <select id="winning_team_attack" name="winning_team_attack" required>
                            <option disabled selected value> -- select a player -- </option>
                            {% for player in all_players_list %}
                                <option value={{ player.id }}>{{ player.player_name }}</option>
                            {% endfor %}
                        </select><br>
                    </div>
                    <div name="losers">
                        <strong>Losing team</strong><br>
                        <label for="losing_team_defense">Losing team defense: </label>
                        <select id="losing_team_defense" name="losing_team_defense" required>
                            <option disabled selected value> -- select a player -- </option>
                            {% for player in all_players_list %}
                                <option value={{ player.id }}>{{ player.player_name }}</option>
                            {% endfor %}
                        </select><br>
                        <label for="losing_team_attack">Losing team attack: </label>
                        <select id="losin_team_attack" name="losing_team_attack" required>
                            <option disabled selected value> -- select a player -- </option>
                            {% for player in all_players_list %}
                                <option value={{ player.id }}>{{ player.player_name }}</option>
                            {% endfor %}
                        </select><br>
                    </div>
                    <div name="score">
                        <strong>Result</strong><br>
                        <label for="losing_team_score">Losing team score: </label>
                        <select id="losing_team_score" name="losing_team_score" required>
                            <option value=0 selected>0</option>
                            {% for i in '0123456789'|make_list %}
                                <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                        {% comment %} <label for="team_2_score">Team 2 score: </label>
                        <select id="team_2_score" name="team_2_score" required>
                            <option value=0 selected>0</option>
                            {% for i in '0123456789'|make_list %}
                                <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
                            {% endfor %}
                        </select><br> {% endcomment %}
                    </div>
                    <div name="date">
                        <label for="date">Date of game: </label>
                        <input type="date" name="date" id="date" required>
                    </div>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <a href={% url 'elo_app:index'%}>Back to overview</a>
    </body>

</html>