<!doctype html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Submit player form</title>
    </head>
    <body>
        <div>
            <form action="{% url 'elo_app:submit_player' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Submit a game</h1></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <label for="name">Your username: </label>
                    <input type="text" name="player_name" id="player_name">
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <a href={% url 'elo_app:index'%}>Back to home page</a>
    </body>

</html>